{% extends 'base.html' %}

{% block content %}
{% if error %}
<p style="color: red;">{{ error }}</p> 
{% endif %}
<h1> Login Form</h1>
<form method="POST">
    {% csrf_token %}
    <div style="margin-top: 20px;">
        <input type="text" placeholder="username" name="username">
    </div>
    <div style="margin-top: 20px;">
        <input type="password" placeholder=" password" name="password">
    </div>
    <div style="margin-top: 20px;"></div>
    <button type="submit">Login</button>
</form>
{% endblock %}