<form method="POST" action="." hx-post="{% if url %}{{url}}{% else %}.{% endif %}" 
hx-swap="outerHTML" hx-trigger="{% if form.instance.id %} change delay:500ms, {% else %}submit{% endif %}">        
    {% csrf_token %}        
    
    {% if message %}    
    <h2>{{message}}</h2>
    {% endif %}

    {% for field in recipe_form %}
    <div class="{% if field.field.required %} {{ recipe_form.required_css_class }} {% endif %}">
        {{field.errors}}
        {{field.label_tag}}{{field}}

        {% if field.help_text %}
            <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}
    </div>
    {% endfor %}
    
    <div style="margin-top: 20px;"></div>
    <button class="htmx-inverted-indicator" type="submit">Save</button>
    <a href="{{ object.get_delete_url }}">Delete</a>
</form>