<html>
    <head>
        <style>
            table {
              border-collapse: collapse;
            }
            th, td {
              border: 1px solid orange;
              padding: 10px;
              text-align: left;
            }
          </style>
          <style>
            .hidden {
              display: none;
            }
          </style>
          
    </head>
    <body>
        <h1 style="text-align:center">Recipes</h1>
            {% block content %}
            {% endblock content %}
    </body>    
</html>
